<%= form_for @agent, url: url,  html: {class: "form-horizontal"} do |f| %>
	<div class="form-group">
		<%= f.label t(:user_id), :for => "agent_user_id", :class => "col-sm-2 control-label" %>
		<div class="col-sm-10">
			<%= f.select :user_id, user_agents_list,{}, {:class => "form-control"} %>
		</div>
	</div>
	<% %w{name contract_no commission_x commission_ya commission_yb commission_z}.each do |item| %>
		<div class="form-group">
			<%= f.label t(item), :for => "agent_#{item}", :class => "col-sm-2 control-label"%>
			<div class="col-sm-10">
				<%= f.text_field item.to_sym, :class => "form-control", :placeholder => t(item) %>
		    </div>
		</div>
	<% end %>
	<div class="form-group">
		<%= f.label t(:a_type), :for => "agent_a_type", :class => "col-sm-2 control-label" %>
		<div class="col-sm-10">
			<%= f.select :a_type, agent_type,{}, {:class => "form-control"}%>
		</div>
	</div>
	<div class="form-group">
		<%= f.label t(:top_id), :for => "agent_top_id", :class => "col-sm-2 control-label" %>
		<div class="col-sm-10">
			<%= f.select :top_id, [[nil,nil]] + agents_list,{}, {:class => "form-control"}%>
		</div>
	</div>
	<div class="form-group">
		<%= f.label t(:logo), :for => "agent_logo", :class => "col-sm-2 control-label" %>
		<div class="col-sm-10">
			<%= f.select :logo, [true,false],{},{:class => "form-control"}%>
		</div>
	</div>
	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
			<%= f.button t(:submit), :class => "btn btn-default"%>
	    </div>
	  </div>
<% end %>