<!DOCTYPE html>
<html>
<head>
  <title>Oenglish</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="box_top">
	  	<div>
			<i>
				<%= image_tag "front/picture01_05.gif", :width => "220px", :height => "41px"%>
			</i>
		</div>
	</div>
	<div class="center">
		<%= yield %>
	</div>
	<div class="footer">
	 	<div>
			<i>
				<%= image_tag "front/picture09_03.gif", :width => "184px", :height => "66px"%>
			</i>
			<%= image_tag "front/picture11_03.gif", :width => "768px", :height => "31px"%>
		</div>
	</div>
</body>
</html>
