<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.png">

    <title>Oenglish - Student</title>

	<%= stylesheet_link_tag "student", :media => "all" %>
    <%= javascript_include_tag "student" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
	
	<div class="head">
		<%= render "layouts/student_navigation"%>
	</div>
	<div class="center">
		<%= yield %>
	</div>
	<div class="footer">
	 	<div>
			<i>
				<%= image_tag "front/picture09_03.gif", :width => "184px", :height => "66px"%>
			</i>
			<%= image_tag "front/picture11_03.gif", :width => "768px", :height => "31px"%>
		</div>
	</div>
  </body>
</html>
